body {
  overflow: hidden;
}

.page-content {
  height: 100dvh;
  width: 100dvw;
  left: 0;
  right: 0;
  background: url("../images/Wellen.png");
  overflow: hidden;
}

.map-background-image {
  position: absolute;
  height: 100dvh;
  margin: auto;
  right: 0;
  left: 0;
  z-index: 0;
}

@media screen and (orientation: portrait) {
  .map-background-image {
    width: 100dvw;
  }
}

.map-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  height: 100dvh;
  width: 100dvw;
  display: grid;
}

.roads-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.road-tile {
  position: absolute;
  width: 3.6%;
  height: 1.9%;
  transform-origin: top left;
  transition-property: background-color;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

.road-tile:hover {
  cursor: pointer;
}

/* TODO: Wellenhintergrund auf vergilbten Papier */
