.login-grid {
  padding-top: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  row-gap: 4rem;
}

.team-card {
  height: 15rem;
  width: 90%;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 5px 5px 5px -5px #000000,
    -10px -10px 1px 0px var(--_color, #000000);
}

.team-name {
  text-align: center;
  font-size: var(--font-size-header, 2rem);
  border-bottom: 2px solid var(--_color);
}

.team-join {
  font-size: var(--font-size-big);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--_color);
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.25rem;
}

.team-join:hover,
.team-join:focus {
  cursor: pointer;
  filter: brightness(85%);
}
