.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 3px 6px 2px #000000;
  box-shadow: 0px 1px 6px 1px #000000;
}

.navbar a {
  text-decoration: none;
  font-size: var(--font-size-big);
}
.navbar a:hover {
  text-decoration: underline;
}

.link-wrapper {
  height: 100%;
  width: 20%;
  margin-left: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.route {
  margin-block: auto;
}

.show-navbar-button {
  position: absolute;
  width: 3rem;
  height: 3rem;
  z-index: 3;
}

.show-navbar-button:hover {
  cursor: pointer;
}
