.title {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-box {
    display: flex;
    align-content:center;
    justify-content:center;
    height: 10%;
    border : 1px solid black
}
.task-box{
    border : 1px solid black;
    height: 45%;
}